body{
    background-color: green;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gainsboro;
}


img {
    display: flex;
    margin:auto;
}

#score {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
}

#Upgrade1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
}

#Upgrade1Text{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
}

#upgrade2{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
}

#Upgrades{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
}

#Upgrade2Text{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
}

#Upgrade3Text{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
}

#upgrade3button{
    display: flex;
    justify-content: center;
}

#Upgrade4Text{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
}

#upgrade4button{
    display: flex;
    justify-content: center;
}